.things {
  text-align: center;
}

.container {
  position: relative; 
  overflow: auto
}

.greyout {
  color: gray;
  opacity: 0.5;
}

.iFrame {
  position: absolute; 
  width: 80%; 
  left: 0; 
  right: 0; 
  margin: auto; 
  background-color: white;
  z-index: 2;
}

.iFrameSize {
  height: 800px;
  width: 100%; 
  z-index: 2;
}

.hidden {
  visibility: hidden;
}

.content {
  position: absolute;
  top:0;
  left:0;
}