<div class="article">

    <span>Original article from </span><a href="http://www.washingtonpost.com/world/israel-launches-ground-invasion-of-gaza/2014/07/18/8c751f72-0e41-11e4-8c9a-923ecc0c7d23_story.html?hpid=z2">The Washington Post</a>

    <h1>Israel concentrates incursion along Gaza borders as Netanyahu warns of ‘expansion’</h1>

    <p>JERUSALEM — Israeli soldiers and tanks fanned out along Gaza’s borders Friday seeking out Hamas tunnel networks while pounding residential buildings with artillery and clashing with militants, as Prime Minister Benjamin Netanyahu warned of a possible “significant expansion” of Israel’s ground offensive in the enclave.</p>

    <p>The intensification of the conflict heightened concern about mounting Palestinian civilian casualties, even as the United States, Europe and several influential Muslim countries expressed support for Israel’s offensive to weaken the Islamist militant group Hamas.</p>

    <p>
    In Washington, President Obama said he had spoken to Netanyahu earlier Friday and affirmed strong U.S. backing for Israel’s right of self-defense. But Obama said he “also made clear that the United States and our friends and allies are deeply concerned about the risks of further escalation and the loss of more innocent life.”</p>
    
    <p>The president said Washington has been assured that the ground offensive is aimed at reducing the threat to Israel from Hamas-built tunnels on the border that are used to infiltrate Israel and stage attacks.
    </p>
    
    <p>For now, Israeli ­forces pursued a modest operation Friday, moving roughly 1.5 miles into the Gaza Strip and zeroing in on farming areas and the outskirts of towns to search for tunnels, a senior Israeli intelligence official with knowledge of the ground incursion told reporters in a conference call.</p>

    <p>“Our main target for now is to find, expose and ruin as much as we can the offensive tunnels and continue to diminish, as much as we can, the launching of rockets,” the Israeli intelligence official said, insisting on anonymity in accord with military protocol.</p>

    <p>As many as 28 Palestinians have been killed since the ground operation began Thursday night, bringing the total Palestinian death toll to more than 260, with the injured topping 2,000, since the conflict erupted 11 days ago. The most recent fatalities included three children who perished in an airstrike on an apartment complex in northern Gaza, according to the Gaza Health Ministry.</p>

    <p>Hundreds of Palestinian families fled their homes­, many carrying plastic bags filled with ­clothes and other possessions. About 47,000 Palestinians have sought refuge in 43 U.N. shelters, more than half that number arriving in the first 24 hours of the ground offensive, the United Nations said late Friday.</p>

    <p>Overnight, a 20-year-old Israeli soldier was killed in northern Gaza, underscoring the risks to Israeli forces­ as they push into the densely populated ribbon of 1.7 million people.</p>

    <p>He was the second Israeli killed in the conflict; on Tuesday in southern Israel, a civilian was killed near the Gaza border by a mortar round fired from the coastal territory.</p>

    <p>“Because it is not possible to deal with the tunnels only from the air, our soldiers are now doing so on the ground,” Netanyahu said Friday before entering a cabinet meeting. “We chose to commence this operation after we had exhausted the other possibilities, and with the understanding that without action, the price that we would pay would be much greater.”</p>

    <p>But Netanyahu also acknowledged that “there is no guarantee of 100 percent success” in the push to destroy the tunnels.</p>

    <p>An expansion of the ground offensive, military analysts said, could entail a broadening of the mission to seek and destroy rocket launchers, weapons infrastructure and storage facilities, and perhaps even eliminate key Hamas commanders and officials. Even as Israel has relentlessly bombarded Gaza, Hamas militants have succeeded in firing hundreds of rockets into southern and central Israel, rattling Israelis. As long as the militants possess rockets and tunnels, they remain a potent threat to Israel.</p>

    <p>“If in the future we feel that airstrikes are not enough to reduce significantly the rocket launchers, I think there will be no other option but to use the ground forces­ to deal with this,” said Shaul Shay, a retired Israeli military colonel and former deputy head of Israel’s National Security Council.</p>

    <p>The ground incursion was Israel’s first into Gaza since January 2009, when it engaged in a three-week battle with Hamas that killed more than 1,400 Palestinians and 13 Israelis. Israeli troops and tanks rolled across the border hours after a diplomatic push to negotiate a long-term truce between Israel and Hamas failed.</p>

    <p>Troops clashed with Hamas “in several exchanges of fire” in which 17 militants were killed, Israel’s military said Friday. At least two Israeli soldiers were also injured in combat, according to Israeli news reports. Israeli forces­ destroyed about 20 concealed rocket launchers and carried out assaults on four tunnels, the military said.</p>

    <p>Hamas, though, continued to fire dozens of rockets into Israel throughout the night and Friday, 87 of which hit Israeli soil, the military said. About 40 were intercepted by Israel’s Iron Dome missile defense system. Residents in southern Israel were hunkered inside their homes or in bomb shelters, as the military advised them to stay within 30 seconds’ travel time to protected areas.</p>

    <p>Standing in front of Gaza City’s Shifa Hospital, Hamas spokesman Sami Abu Zouhri said that the group’s fighters had clashed with Israeli soldiers in northern and southern parts of Gaza. “We have suffered no injuries,” he declared.</p>

    <p>Thousands of Palestinians displaced by the fighting flowed toward one of the 43 shelters run by the U.N. Relief and Works Agency, which assists the Palestinian refugees who make up more than half of Gaza’s population.</p>

    <p>In Israel, the government took additional precautions. Gatherings of more than 1,000 have been banned in Tel Aviv and Jerusalem, a decision that prompted the cancellation of a Neil Young outdoor concert. Closer to the border, groups of 300 or more are prohibited.</p>

    <p>With Israeli forces­ and tanks poised to push deeper into Gaza, efforts to negotiate the Egyptian-initiated cease-fire between the warring sides were underway Friday.</p>

    <p>Palestinian Authority President Mahmoud Abbas told reporters in Cairo that efforts to forge a lasting truce had been complicated by the ground incursion. But he said he had met with leaders of Islamic Jihad and “found a kind of acceptance of this initiative” and a willingness to persuade other Palestinian groups to accept it.</p>

    <p>French Foreign Minister Laurent Fabius was also expected in Cairo on Friday to help promote a cease-fire. In a statement, he said he was seeking a deal “that responds to Israel’s security needs and Palestinian economic needs.” But in a sign that Israel’s allies were increasingly concerned about raising the Palestinian civilian death toll, Fabius urged Israel to show restraint in its ongoing offensive.</p>

    <p>In Washington, Obama said Secretary of State John F. Kerry is prepared to travel to the region to help facilitate a new cease-fire, “following additional consultations.”</p>

    <p>Booth reported from Gaza City. Anne Gearan in Washington contributed to this report.</p>
</div>