<h1>Pull-down iFrame</h1>
  
  <div style="position: relative; overflow: auto">
  <!-- <a ng-controller="mainCtrl" ng-click="showOrHideSource">{{ viewOrHide }}</a> -->
    <button ui-sref=".source" ng-controller="mainCtrl" ng-click="showOrHideSource()">
    {{ viewOrHide }}
    </button>
    <a ui-sref=".source" class="btn btn-primary"></a>
    <div ui-view style="position: absolute; width: 80%; left: 0; right: 0; margin:auto; background-color: white"></div>
    <br>
    <div ui-view="article" position="absolute"></div>
  </div>
