<h1>Pull-down iFrame</h1>
  
  <div class="container" ng-controller="mainCtrl">
  <!-- <a ng-controller="mainCtrl" ng-click="showOrHideSource">{{ viewOrHide }}</a> -->
    <button ui-sref=".source" ng-controller="mainCtrl" ng-click="showSource()">
    {{ buttonText }}
    </button>
    <button ng-controller="mainCtrl" ng-click="changeStatus()">show or hide</button>
    <div ui-view ng-show="showSource()" class="iFrame"></div>
    <br>
    <div ui-view="article" class="{{articleClass}}"></div>
  </div>
